@{
    ViewData["Title"] = "Index";
}
@model List<GetVenueResponse>



<div class="row">
    <div class="my-1">
        <a asp-action="Create" class="btn btn-primary">Ekle</a>
    </div>
    @if (!Model.Any())
    {
        <div class="jumbotron text-center">Etkinlik alanı bulunamadı.</div>
    }
    else
    {
        @foreach (var venue in Model)
        {
            <div class="col-md-4 mt-3 col-sm-6 col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src="@venue.ImageUrl" class="card-img-top" style="max-height:128px" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@venue.Name</h5>
                        <h5 class="card-title">@venue.City.Name</h5>
                        <p>Bu mekan @venue.Capacity kişiyi ağırlayabilir.</p>
                        <a asp-action="Detail" asp-route-id='@venue.Id' class="btn btn-primary">Detaylar</a>
                    </div>
                </div>
            </div>
        }
    }
</div>