@{
    ViewData["Title"] = "Detail";
}
@model GetEventByIdResponse

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-header text-center bg-white">
                    <img src="@Model.ImageUrl" class="img-fluid mx-auto" alt="@Model.Name" style="max-height:400px" />
               </div>
                <div class="card-body">
                    <h2 class="text-center"> @Model.Name</h2>
                    <h6 >Event ayrıntıları :</h6>
                    <p class="text-opacity-75">@Model.Description</p>
                   
                    <div class="text-end d-flex justify-content-end ">
                        <span class="material-symbols-outlined text-danger">distance</span> 
                        <span> Konum : @ViewBag.Venue.Name, @ViewBag.Venue.City.Name</span>
                    </div>
                    <p>
                        Tarih : <br />
                        Başlangıç : @Model.StartDateTime.ToString("dd/MM/yyyy") Saat : @Model.StartDateTime.ToShortTimeString() <br />
                        Bitiş : @Model.EndDateTime.ToString("dd/MM/yyyy") Saat : @Model.StartDateTime.ToShortTimeString()

                    </p>
                        @foreach(var ticket in Model.Tickets)
                        {

                        <div class="justify-content-between text-end mt-2">
                            <a asp-controller="Basket" asp-action="AddBasketItem" asp-route-ticketId="@ticket.Id">
                                <span class="badge bg-primary">@ticket.Name Bilet</span>  
                                <span class="">@ticket.Price TL</span>
                            </a>

                        </div>

                                   

                        }
                </div>

                <div class="card-footer btn-group d-flex">
                        <a asp-controller="Ticket" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-outline-primary">Bilet tanımla</a>
                    <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-warning">Güncelle</a>
                    <form method="post">
                        <button asp-action="Delete" asp-route-id="@Model.Id" type="submit"
                            class="btn btn-outline-danger">
                            Sil
                        </button>
                    </form>
                </div>
            </div>
            <a asp-action="Index">Listeye geri dön.</a>
        </div>
    </div>
</div>