@{
    ViewData["Title"] = "Index";
}


@model List<GetEventResponse>

<div class="row">
    <div class="col-md-12">
        <div>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </div>
        @if (!Model.Any())
        {
            <div class="jumbotron text-center">No organization found.</div>
        }
        else
        {
            @foreach (var organization in Model)
            {
                <div class="card m-2">
                    <div class="card-header">
                        <h4 class="card-title">
                            <a asp-action="Detail" asp-route-id="@organization.Id">
                                @organization.Name</a>
                            <h6>Event Türü @organization.EventType</h6>
                            <img class="img-fluid" width="300px" style="height:150px;object-fit:inherit" src="@organization.ImageUrl" alt="@organization.Name"/>
                            <h6>Yer : @foreach(var venue in ViewBag.Venues)
                                {
                                    if (venue.Id == organization.VenueId)
                                    {
                                        @venue.Name
                                    }
                                }
                            </h6>
                            <p>Açıklama : @organization.Description</p>
                            <p>
                                Tarih : <br/>
                                Başlangıç : @organization.StartDateTime.ToString("dd/MM/yyyy") Saat : @organization.StartDateTime.ToShortTimeString() <br />
                                Bitiş : @organization.EndDateTime.ToString("dd/MM/yyyy") Saat : @organization.StartDateTime.ToShortTimeString()

                            </p>
                            <p>Süre : @organization.Duration Saat</p>
                        </h4>
                    </div>
                </div>
            }
        }
    </div>
</div>
