@{
    ViewData["Title"] = "Index";
}


@model List<GetEventResponse>

<div class="row">
    <div class="col-md-12">
        <div>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </div>
        @if (!Model.Any())
        {
            <div class="jumbotron text-center">No organization found.</div>
        }
        else
        {
            @foreach (var organization in Model)
            {
                <div class="card m-2">
                    <div class="card-header">
                        <h4 class="card-title">
                            <a asp-action="Detail" asp-route-id="@organization.Id">
                                @organization.Name</a>
                            <h6>Event Türü @organization.EventType</h6>
                            <h6>Organizasyon Firması @organization.Organizer.Name</h6>
                            <h6>Yer @organization.Venue.Name</h6>
                            <p>Açıklama : @organization.Description</p>
                        </h4>
                    </div>
                </div>
            }
        }
    </div>
</div>
